<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bancada</title>

    <script src="script.js" defer></script>
</head>

<body>

    <h1>Bancada</h1>

    <p>Selecione um lugar</p>

    <table border="1">

        <tr>
            <td class="lugar">1</td>
            <td class="lugar">2</td>
            <td class="lugar">3</td>
            <td class="lugar">4</td>
            <td class="lugar">5</td>
        </tr>

        <tr>
            <td class="lugar">6</td>
            <td class="lugar">7</td>
            <td class="lugar">8</td>
            <td class="lugar">9</td>
            <td class="lugar">10</td>
        </tr>

        <tr>
            <td class="lugar">11</td>
            <td class="lugar">12</td>
            <td class="lugar">13</td>
            <td class="lugar">14</td>
            <td class="lugar">15</td>
        </tr>

        <tr>
            <td class="lugar">16</td>
            <td class="lugar">17</td>
            <td class="lugar">18</td>
            <td class="lugar">19</td>
            <td class="lugar">20</td>
        </tr>

    </table>

    <h2>
        Lugar selecionado:
        <span id="lugarSelecionado">Nenhum</span>
    </h2>

    <button id="botaoComprar">
        Comprar
    </button>

</body>

</html>