{% extends "layout.html" %} {% block title %} <h2>Localização</h2> {% endblock %} {% block content %} <article>
    <h2>Land O' Lakes</h2>
    <p><strong>Morada:</strong> Land O' Lakes, Pasco County, 2910-761 Florida</p> <iframe
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d181.03564721278713!2d-117.185602!3d32.757688!3m2!1i1024!2i768!4f13.1!5e1!3m2!1spt-PT!2sus!4v1773751113231!5m2!1spt-PT!2sus"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"> </iframe>
</article> {% endblock %}